
a
{
	text-decoration:none;
	color:#202020;
}
a:hover
{
	text-decoration:none;
}

body
{
	font-family:'ubuntu';
    color:#202020;
	overflow-x:hidden;
	background:#eee;
     height: 100%;
    
}
html{
     height: 100%;
}

h1,h2,h3,h4,h5,h6,p,a{
   font-family:'ubuntu';
}
.height
{
    max-height:60vh;
}
.slider
{
}
.sidemenu{
    border-bottom: 1px solid #eee;
    height: 50px;
    padding: 12px;
   
}
.sidemenu:hover{
    background-color:#03A9F4;
    color: #fff;
    
}

.panel-success > .panel-heading-custom {
background: #03A9F4; color: #fff; }
.panel-primary > .panel-heading-custom {
background: #03A9F4; color: #fff; }
.panel-primary > .panel-heading-custom{
background: #03A9F4; color: #fff; }

.span{
   display: table-cell;
  vertical-align: middle;
    
}
.panel-heading
{
  border-radius: 0px;
}
.login
{
   width: 80%;
   
}
.panel
{
    border-radius: 0px;
  
}
.news:hover{
    color: #03A9F4;
    background-color: #fff;
    
}
.news{
    height: auto;
}



.auto
{
    height: 360px;
    overflow-y:hidden;
}

/*footer css */
 footer.page-footer  {
margin-bottom: 0px;
  background-color: #202020;
  color:#fff; }
 
  footer.page-footer .footer-copyright {
    overflow: hidden;
    height:auto;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color:#03A9F4;
	
  }
.white-text {
  color: #FFFFFF !important; }
.footer .page-footer  ul  li
{
	text-decoration:none;
}
.title
{
	font-family:'ubuntu';
}
.footerleft a
{
	color:#fff;
}

.footerleft a:hover
{
	color:#03A9F4;
}
.footerright ul 
{
	list-style-type:none;
    
 
}
.fix
{
  position: fixed;
}
.modal-header
{
    background-color:#03A9F4;
    color: #fff;
    align-self: center;
}

.modal-header modal-title{
     text-align: center;
  display: table-cell;
  vertical-align: middle;
    font-family: 'Ubuntu', sans-serif;
}

.modal-footer{
        background-color:#03A9F4;
  color:#fff; 
}
.modal-footer button{
    margin: 20px;
}
header{
    margin-bottom: 100px;
}

.title{
    font-size: 20px;
    color: #03A9F4;
    text-align: center;
    margin: 5px;
}
.title1{
    font-size: 17px;
    color: #03A9F4;
    margin: 10px;
   

}
.title2{
     color:#03A9F4;
    font-size: 15px;
}
.active{
    background-color: #03A9F4;
    color: #fff;
}

.sidemenu{
    border-bottom: 1px solid #eee;
    height: 50px;
    padding: 12px;
   
}
.sidemenu:hover{
    background-color: #03A9F4;
    color: #fff;
    
}

